<section class="pt-4">
  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th></th>
          <th>Icono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (country of countries(); track country.name; let i = $index) {
          <tr>
            <th>{{ i + 1 }}</th>
            <td>{{ country.flag }}</td>
            <td><img [src]="country.flags.png" [alt]="country.flags.alt" class="w-8" /></td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td><span class="badge badge-info">{{ country.population | number }}</span></td>
            <td>
            <a [routerLink]="['/country/detail',country.code]" class="btn btn-sm btn-primary">Detalles</a>
            {{ country.code }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
